
exportPattern("^[^\\.]")

import(biomaRt)
import(fgsea)
import(ggplot2)
import(igraph)
import(kernlab, except = alpha)
import(STRINGdb)
import(yeastExpData)
importFrom("httr", "config", "set_config")
importFrom("grDevices", "adjustcolor")
importFrom("graphics", "legend")
importFrom("stats", "fisher.test", "na.omit", "p.adjust")
importFrom("utils", "setTxtProgressBar", "stack", "txtProgressBar")
